.navbar {
    height: 50%;
    margin: auto;
    width: 50%;
    text-align: center;
}
.nav_element {
    width:29.75%;
    color: rgb(37, 37, 37);
    display: inline-block;
    box-shadow: 1px 1px black;
    padding: 15px;
    text-align: center;
    font-size: 1.2em;
    background-color: rgb(205, 219, 231);
}
.nav_element:hover {
    background-color: rgb(247, 252, 255);
    text-emphasis: bold;
    box-shadow: 5px 5px 10px black;
}

form {
    box-shadow: 1px 1px 5px 5px black;
    width: 45%;
    float: center;
    margin: auto;
    margin-top: 50px;
    padding: 30px;
    padding-bottom: 15px;
    background-color: rgb(195, 197, 199);   
    box-shadow: 1px 1px 5px black;
    border: 5px solid whitesmoke;
    border-radius: 1%;

}

button {
    display: block;
    margin: auto;
    margin-top: 10px;
    border: none;
    background-color: rgb(193, 224, 251);
    padding: 15px;
    font-size: 1.1em;
    box-shadow: 1px 1px black;
}
button:hover {
    box-shadow: 5px 5px 10px black;
}

body {
    font-family: 'Roboto', 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: rgb(56, 64, 87);
    font-size: 1.1em;
}

section {
    margin: auto;
    margin-top: 200px;
    background-color: white;
    box-shadow: 1px 1px black;
    width: 50%;
    /* height: 700px; */
    padding: 30px;
}


img {
    width: 100%;
}

input {
    margin: auto;
    width: 50%;
}

.footer {
    background-color: white;
    position: relative;
    bottom: 0px;
    text-align: center;
    width: 50%;
    margin: auto;
    margin-top: 15px;
    margin-bottom: -5px;
    padding-left: 30px;
    padding-right: 30px;
    box-shadow: 1px 1px black;
    padding-top: 5px;
    padding-bottom: 5px;
    
}
section a, .footer a {
    text-decoration: none;
    color: rgb(173, 158, 224);
    font-weight: bold;
}
section a:visited, .footer a:visited{
    color: rgb(66, 38, 168);
}
section a:hover, .footer a:hover {
    text-decoration: underline;
    font-size: 1.1em;
}
.navbar a {
    text-decoration: none;
    color: black;
}


/* Tablet Landscape */
@media screen and (max-width: 1060px) {
    .navbar, section, .footer { 
        width:67%; 
    }
      
}
/* Tablet Portrait */
@media screen and (max-width: 768px) {
    .navbar, section, .footer { 
        width:99%; 
    }
    
}
