{% extends 'index.html' %}

{% block head %}
    <title>Home - UF Schedule Importer</title>
{% endblock %}

{% block content %}
    <h1>UF Schedule Importer</h1>
    
    <p>Time management is the most important skill for a busy college student. 
        The solution for many has been to add their classes to their Google calendars, 
        which works, but addding so many classes by hand is extremely tedious and takes way too long, and not to mention,
         you have to do it all again next semester.
    </p>

    <p> That's where UF Schedule Importer comes in. Link it to your Google account and done. Class schedule synced.</p>
    <p><a href="{{url_for('how_it_works')}}"> Learn how it works.</a></p>
{% endblock %}